<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.log">

  <targets>
    <!-- 控制台输出 -->
    <target name="console" xsi:type="ColoredConsole"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

    <!-- 滚动文件 -->
    <target name="logfile" xsi:type="File"
            fileName="Logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"
            archiveFileName="logs/archives/app.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            maxArchiveFiles="30" />

    <!-- 错误专用文件 -->
    <target name="errorfile" xsi:type="File"
            fileName="logs/error-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>